.searchContainer {
  padding: 0px;

}


.bg-warning {
  background-color: #d8d8d8 !important;
}

h1 {
  color: #e97917;
  text-align: center;
}

.btn-dark {
  background-color: #0093db;
  border: none;
  font-weight: bold;
}

.btn-dark:hover {
  background-color: #de4509;
}

input,
select {
  border: solid 1px #e97917 !important;
}

.card-header {
  background-color: initial;
  border-bottom: none;
}

.card {
  border: none;
}

.card-header:first-child {
  border-radius: 0px;
}

.table .thead-dark th {
  background-color: #e97917;
  border-color: #e97917;
}

.invalidfilter,
.invalidsearch {
  color: #ff0000;
  font-size: 14px;
}

.table tr,
th,
.table tr td {
  text-align: center;
}